<nav>
    <div class="nav-wrapper">
        <a id="logo" href="/annonces" class="action">Leboncoin</a>
        <a href="/deposer" class="action">Déposer une annonce</a>
        <a href="/annonces" class="action">Offres</a>
        <a href='/login'>Login</a>
        <a href='/register'>Register</a>
    </div>
</nav>